<!-- Footer-->
<footer class="footer text-center">
    <div class="container px-4 px-lg-5">
        <ul class="list-inline mb-5">
            <li class="list-inline-item">
                <a class="social-link rounded-circle text-white mr-3" href="#!"><i class="icon-social-facebook"></i></a>
            </li>
            <li class="list-inline-item">
                <a class="social-link rounded-circle text-white mr-3" href="#!"><i class="icon-social-twitter"></i></a>
            </li>
            <li class="list-inline-item">
                <a class="social-link rounded-circle text-white" href="#!"><i class="icon-social-github"></i></a>
            </li>
        </ul>
        <p class="text-muted small mb-0">Copyright &copy; Man Fel <span id="currentYear"></span></p>
    </div>
</footer>
<script>
    // Get the current year
    var currentYear = new Date().getFullYear();

    // Set the current year
    document.getElementById('currentYear').textContent = currentYear;
</script>

<!-- Typed browser-ready CDN -->
<script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>

<!-- Typed script -->
    <script>
        var options = {
            strings: ["Crafting Experiences ", "Designing Dreams"], // An array of strings to type
            typeSpeed: 50, // Typing speed in milliseconds
            loop: true // Whether to loop through the strings
        };
    
        var typed = new Typed('.typed-text', options); // Initialize Typed.js on an element with the class "typed-text"
    </script>
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top"><i class="fas fa-angle-up"></i></a>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script type="text/javascript" src="/js/scripts.js"></script>
