<%- include("partials/header") -%>
 <!-- About-->
 <section class="content-section bg-light" id="about">
    <div class="container px-4 px-lg-5 text-center">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-10">
                <h2>Who is Felix?</h2>
                <p class="lead mb-5">
                    "I'm a passionate Software Developer dedicated to delivering innovative solutions that solves market problems. With a keen eye for detail and a commitment to excellence, I strive to bring change through software. Explore my portfolio to see how I bring solutions to life."
        </p>
                <a class="btn btn-dark btn-xl" href="/services">What I offer</a>
            </div>
        </div>
    </div>
</section>
<%- include("partials/footer") -%>


