<%- include("partials/header") -%>
<!-- Header-->
<header class="masthead d-flex align-items-center">
    <div class="container px-4 px-lg-5 text-center">
        <img class="image" src="/assets/images/felo.png" alt="Man Felo">
        <h1 class="mb-1">Meet Felix Odhiambo</h1>
        <h3 class="mb-5"><em><span class="typed-text"></span></em></h3> <!-- Element to display the typing effect -->
        <a class="btn btn-primary btn-xl" href="/about">Find Out More</a>
    </div>
</header>

<%- include("partials/footer") -%>

